/* Общий фон страницы */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, sans-serif;
    background: #f5f7fa;
}

/* Контейнер заголовка */
header {
    text-align: center;
    padding: 25px 0;
    background: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    color: #f5f7fa;
}

/* Контейнер карточек игроков */

#squadContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 18px;
}


/* Карточка игрока */
.player-card {
    background: white;
    border-radius: 14px;
    padding: 18px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    transition: 0.25s ease;
    cursor: pointer;
}

.player-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Фото игрока */
.player-photo {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
    border: 3px solid #e9eef3;
}

/* Имя */
.player-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #222;
}

/* Возраст */
.player-age {
    font-size: 14px;
    color: #555;
}

/* Для текста "Игроки не найдены" */
.empty-message {
    text-align: center;
    font-size: 18px;
    color: #666;
    padding-top: 40px;
}
