/* HEADER */
.header {
    width: 100%;
    background: #222;
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}





/* Cards */
body {
    background: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.page-title {
    text-align: center;
    font-size: 32px;
    margin: 25px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.card {
    width: 160px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
}
